.hero {
    margin-top: 100px;
    position: relative;
}


/* ------------------------------------------ */
/* верхняя часть грида */

.hero__merging-inscription, .hero__final-inscrption, .hero__title, .hero__erio-name, .hero__finuniversity-name {
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

.hero__finuniversity, .hero__erio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--accent-yellow-color);
    border-radius: 30px;
    border: 3px solid var(--accent-brown-color);
}

.hero__finuniversity-name {
    font-size: 24px;
}

.hero__decoration {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    
    background: var(--bg-darker-color);
}

.hero__final-inscrption {
    font-weight: 800;
    color: var(--title-text-color);
}

@media (width > 1100px) {
    .hero__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 50px;
        margin-bottom: 30px;
    }

    .hero__finuniversity, .hero__erio {
        gap: 15px;
        padding: 80px 20px;
    }

    .hero__erio-logo {
        height: 90px;
    }

    .hero__merging-inscription {
        font-size: 32px;
        align-self: center;
    }

    .hero__decoration {
        top: 86px;
        height: 80px;
    }

    .hero__final-inscrption {
        grid-column-start: 4 span;
        font-size: 115px;
    }
}

@media (width <= 1100px) {
    .hero__container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 30px;
    }

    .hero__finuniversity, .hero__erio {
        gap: 15px;
        padding: 40px 20px;
    }

    .hero__erio-logo {
        height: 80px;
    }

    .hero__merging-inscription {
        font-size: 24px;
    }

    .hero__decoration {
        top: 180px;
        height: 60px;
    }

    .hero__final-inscrption {
        font-size: 40px;
    }
}

/* ------------------------------------------ */
/* блок картинки */

.hero__picture {
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image {
    height: auto;

    transition: transform 0.1s ease-out;
    will-change: transform;
}

@media (width > 1100px) {
    .hero__picture {
        grid-column-start: 5 span;
    }

    .image--finic {
        width: 450px;
        padding-top: 170px;
        margin-right: -28px;
    }
    
    .image--students {
        width: 850px;
        padding-bottom: 170px;
        margin-left: -28px;
    }

    .hero__title {
        grid-column-start: 6 span;
    }
}

@media (width <= 1100px) {
    .image--finic {
        width: 300px;
        padding-top: 85px;
        margin-right: -18px;
        padding-left: 80px;
    }
    
    .image--students {
        width: 450px;
        padding-bottom: 85px;
        margin-left: -18px;
    }
}


/* ------------------ */
/* секция с текстом */

.article-block__wrapper {
    display: flex;
}

.paragraph {
    margin-top: 30px;
}

.paragraph__title {
    margin-bottom: 8px;
}

.paragraph__text {
    text-align: justify;
}


/* ------------------------- */
/* навигация */
.nav__item {
    background: var(--accent-yellow-color);
    border: 3px solid var(--accent-brown-color);
    border-radius: 50px;
}

@media (width > 700px) {
    .nav__decoration {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    
        height: 100px;
        background: var(--accent-yellow-color);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .nav__container {
        position: sticky;
        top: 60px;

    }
    
    .nav__block {
        position: relative;

        width: 300px;
        margin: 60px;
        margin-right: 0;
        padding: 30px 30px 40px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    
        background: var(--accent-blue-color);
        border: 3px solid var(--accent-brown-color);
        border-radius: 30px;
    }
    
    .nav__title {
        z-index: 2;
    }
    
    .nav__picture {
        margin-top: 30px;
    }
    
    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 20px;
    }

    .nav__item {
        padding: 8px 20px;
    }
}

@media (width <= 700px) {
    .nav {
        position: relative;
        margin-left: 40px;
    }

    .nav__container {
        position: sticky;
        top: 60px;
    }

    .nav__block {
        position: absolute;
        left: 100%;
        width: 600px;
    }

    .nav__title {
        display: none;
    }

    .nav__picture {
        transform: rotate(270deg) translate(0, -20px);
        margin-bottom: 30px;
        transition: all 0.5s;
    }

    .nav__picture:hover {
        transform: rotate(270deg) translate(0, -80px);
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .nav__item {
        transition: all 0.5s;
        padding: 20px 30px;
        font-size: 22px;
    }

    .nav__item:hover {
        transform: translate(-180px, 0);
    }
}




/* -------------------------------------------------- */
/* теперь странички с фактами */

.title-block {
    margin: 0 auto;
    padding: 80px 30px 180px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.facts-block {
    border-radius: 50px;
    padding: 80px 0 180px;

    margin-top: -100px;
}

.facts-block:nth-child(even) {
    background: var(--bg-darker-color);
}

.facts-block:nth-child(odd) {
    background: var(--bg-light-color);
}

.facts-block:last-child {
    padding-bottom: 80px;
}

#fact--special {
    background: var(--light-blue-color);
}

.top-block {
    margin-bottom: 80px;
}

.top-block__text {
    margin-top: 20px;
}

.info__item {
    padding-block: 30px;
    border-top: 3px solid var(--accent-brown-color);
}

.info__item:last-child {
    border-bottom: 3px solid var(--accent-brown-color);
}

.info__button {
    height: 80px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__name-of-fact {
    text-align: left;
}

.info__arrow {
    height: 60px;
    transition: 0.5s;
}

.info__arrow--rotated {
    transform: rotate(90deg);
}

.info__fact {
    background: var(--accent-yellow-color);
    border: 3px solid var(--accent-brown-color);
    padding: 30px;
    border-radius: 30px;

    margin: 15px 0 35px;
}

.info__paragraph {
    text-align: justify;
}

.fact--closed {
    display: none;
}
